[submodule "Tiny/vendor/spdlog"]
	path = Tiny/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Tiny/vendor/GLFW"]
	path = Tiny/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Tiny/vendor/ImGui"]
	path = Tiny/vendor/ImGui
	url = git@github.com:TheCherno/imgui.git
